@media screen and (min-Width: 641px) and (max-Width: 1023px) {

    .header-top{
        font-size: 15px;
    }

    .header-middle {
        padding: 0 140px 0 125px;
    }   
    
    .texto-frente1 {
        top: 30%;
        font-size: 20px;
        padding-bottom: 15px;
    }
    
    .texto-frente2 {
        top: 40%;
        font-size: 100px;
        white-space: nowrap; 
    }

    .texto-frente3 {
        top: 50%;
        font-size: 30px;
    }

    .cell img {
        width: 60px;
    }

    .texto {
        padding-right: 30px;
    }

    .cell h6 {
        font-size: 20px;
    }

    .cell p {
        font-size: 15px;
    }

    .footer2 {
        display: flex;
        padding: 30px 90px;
    }
    
    .footer-column {
        width: 120px; 
    }
    
    .footer-title {
        font-size: 25px;
    }
    
    
    .footer2 ul li a {
        font-size: 20px;
    }
    
    .security img {
        max-width: 130px;
    }
    
    .social-icons {
        gap: 10px;
    }
}

@media (max-width: 640px) {
    body{
        overflow-x: hidden;
    }

    .header-top{
        display: flex;
        height: 40px;
        padding: 5px;
        font-size: 15px;
    }

    .header-top img {
        height: 20px;
        width: 20px;
        vertical-align: middle;
        margin-left: 3px ;
    }    

    .header-middle {
        height: 65px;
        font-size: 20px;
        padding: 0 50px 0 50px;
    }   

    .search-container {
        position: relative;
        width: 380px;
    }

    .header-middle .header-actions img {
        margin-left: 10px;
    }

    #carousel-imagens img {
        width: 80%;
        height: 590px;
    }
    
    .texto-frente1, .texto-frente2, .texto-frente3 {
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
    }

    .texto-frente1 {
        top: 30%;
        font-size: 20px;
        padding-bottom: 15px;
    }
    
    .texto-frente2 {
        top: 40%;
        font-size: 100px;
        white-space: nowrap; 
    }

    .texto-frente3 {
        top: 50%;
        font-size: 30px;
    }

    .cell img {
        width: 40px;
    }

    .texto {
        padding-right: 3%;
    }

    .cell h6 {
        font-size: 15px;
    }

    .cell p {
        font-size: 10px;
    }

    .footer2 {
        display: flex;
        padding: 40px 10px;
    }
    
    .footer-column {
        width: 100px; 
    }
    
    .footer-title {
        font-size: 20px;
    }
    
    
    .footer2 ul li a {
        font-size: 15px;
    }
    
    .security img {
        max-width: 130px;
    }
    
    .social-icons {
        gap: 5px;
    }
}
    

    